
/*Main Text Color
rgba(33, 33, 33, 1) 
*/

/* White Text 
color: #FFFFFF; 
*/

/* WebStudio Header
rgba(33, 150, 243, 1); 
rgba(0, 0, 0, 1)

*/

/* WebStudio Footer
rgba(33, 150, 243, 1); 
rgba(255, 255, 255, 1)

*/

/* Phone Header
color: #757575;; 
*/

/* Phone & Email Footer
rgba(255, 255, 255, 0.6)
*/

/* Accent  
background: #2196F3; 
*/
html {
box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

/* ---------------- REMOVE PADDINGS & MARGINS ------------------------------ */

h1, h2, h3, h4, h5, h6, p, ul, li {
margin:0;
padding: 0;
}

img {
display:block;
}

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --background-color-white: #F5F5F5;
}


body {
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
}

/*Header */

/* ---------------- CONTAINER ------------ */

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

/* ---------------- PORTFOLIO CONTAINERS ------------ */
.flex-list {
display: flex;
flex-wrap: wrap;
column-gap: 30px;
row-gap: 30px;
}

.flex-element {
width: calc((100% - 60px) / 3);
}

/* .flex-element:nth-child(3n) {
margin-right: 0px;
} */

.flex-element:nth-last-child(-n+3) {
margin-bottom: 0px;
}

.border-container {
padding: 20px 24px;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
background: #FFFFFF;
}


/*
.section {
padding-top: 0px;
padding-bottom: 0px;
} */

.logo {
color: var(--accent-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}

.page-header {
border-bottom: 1px solid #ECECEC;
background-color: #FFFFFF;
}

.accent-header {
color:rgba(0, 0, 0, 1);
}

.accent-footer {
color:rgba(255, 255, 255, 1)
}


.accent-web {
color: var(--accent-color);
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/* Remove Text Decorations */

.list {
    list-style:none;
    text-decoration: none;
}

.link {
    list-style:none;
    text-decoration: none;
    color: inherit;
}

.site-nav .link {
display: block;
padding-top: 32px;
padding-bottom: 32px;

color: var(--title-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

/* ----------------------------- ALIGNIGN ALL LINKS ---------------*/
.main-line {
display: flex;
align-items: center;
}

.portfolio-main-line {
margin-bottom: 50px;
display: flex;
align-items: center;
justify-content: center;
}

/* .portfolio-main-line .item {
display: block;
padding-top: 94px;
padding-bottom: 34px;
} */

.portfolio-main-line .item + .item {
margin-left: 8px;
}


.auth-nav {
display: flex;
margin-left: auto;
}

.auth-nav .item {
display: block;
padding-top: 32px;
padding-bottom: 32px;
}

.auth-nav .item + .item {
margin-left: 50px;
}

.auth-nav .email:hover,
.auth-nav .email:focus {
color: var(--accent-color);
}

.auth-nav .phone:hover,
.auth-nav .phone:focus {
color: var(--accent-color);
}

.logo-padding {
display: block;
padding-top: 24px;
padding-bottom: 25px;

}


.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}



.site-nav {
display: flex;
margin-left: 93px;
}

.site-nav .item + .item {
margin-left: 50px;
}


.site-nav .link.current {
color: var(--accent-color);  
}


/* Mail and Phone Number Header*/
.email {
color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.email:hover,
.email:focus {
color: var(--accent-color);
}


.phone {
color: var(--primary-text-color);
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.phone:hover,
.phone:focus {
color: var(--accent-color);
}

/*-----------------------------HEROSection 1-------------- */
.hero{
margin-top: 0;
margin-bottom: 0;
align-items: center;
text-align: center;
padding: 200px 0px 200px 0px;
margin: 0 auto;
background-color:#2F303A;
}

.hero-section {
background-color:#2F303A;

}

.hero-title {
margin-bottom: 30px;



color:#FFFFFF;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

/* -----------------BUTTONS--------------------- */ 
.pointer {
  cursor: pointer;
}

.button {
display: inline-block;
border-radius: 4px;
text-align: center;
border: 1px solid transparent;


color:#FFFFFF;
background-color:var(--accent-color);
font-size: 16px;
padding: 12px 24px;
display:inline-block;
border: 1px solid black;

}

.button.primary {
padding: 10px 32px;
min-width: 216px;
justify-content: center;
margin: 0px;
cursor: pointer;


color:#FFFFFF;
background-color:var(--accent-color);
border-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.button.secondary {


color: var(--title-text-color);
background-color:#F5F4FA;
border-color: transparent;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
color: #FFFFFF;
background-color:var(--accent-color);
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height:1.63;
text-align: center;
letter-spacing: 0.03em;
}
/* ------------------------PORTFOLIO BUTTONS ---------------------*/
.btn-all {
padding: 6px 25px;
min-width: 73px;
}
.btn-web {
padding: 6px 22px;
min-width: 125px;    
}
.btn-extra {
padding: 6px 22px;
min-width: 112px;
}
.btn-design {
padding: 6px 22px;
min-width: 103px;
}
.btn-marketing {
padding: 6px 22px;
min-width: 130px;
}



/* Section 2 and 3 -----------FEATURE LISTS 
--------------------------------------------------Наші переваги*/
.about-section-advantage {
padding-top: 94px;
padding-bottom: 94px;
}

.about-section-about {
padding-bottom: 94px;
}


.feature-list {
display: flex;
flex-wrap: wrap;
}

.feature-list .item {
width: 270px;
margin-right: 30px;

}

.feature-list .item:last-child {
margin-right: 0;
}

/* Section 3 -----------FEATURE LISTS 
--------------------------------------------------Чим ми займаємося*/
.feature-list-about {
display: flex;
flex-wrap: wrap;
column-gap: 30px;
row-gap: 50px;

}

.feature-list-about .item {
width: calc((100% - 60px) / 3);
}

/* .feature-list-about .item:last-child {
margin-right: 0;
} */


/* -----------Section 4 -----------TEAM------------------------------------------*/
.feature-team {
display: flex;
flex-wrap: wrap;
column-gap: 30px;
}

.feature-team .item {
width: calc((100% - 90px) / 4);

background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.feature-team .item:last-child {
margin-right: 0;
}


.about-section-main {
margin-bottom: 50px;
color: #212121;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.about-section-title {
    
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.33;
text-transform: uppercase;
}
/* ---------------------Наші переваги------------------HIDDEN H2 &H1 */
.visibility-hidden {
     position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
}


.about-section-text {
    margin-top: 10px;
color: var(--primary-text-color);
line-height:2;

}

/* Section 4 */


.team-section {
padding-top: 94px;
padding-bottom: 94px;

background-color:#F5F4FA;
}

.team-section-main {
margin-bottom: 50px;

color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.33;
text-align: center;
}

.team-introduction {
padding: 30px 0;
}


.team-section-leader {
margin-bottom: 10px;
text-align: center;



color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
}

.team-section-title {
text-align: center;

color: var(--primary-text-color);
font-size: 16px;
line-height:1.19;
}

/*-----------------------Section Portfolio --------------------*/

.portfolio-title {
margin-bottom: 4px;

color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio-text {
color: var(--primary-text-color);
font-size: 16px;
line-height:1.88;
}

.about-section-portfolio {
padding-top: 94px;
padding-bottom: 94px;
}


/* ----------------------FOOTER------------------------*/

.logo-footer {
display: block;
margin-bottom: 20px;
}

.footer {
background-color:#2F303A;
}

.footer-final {
padding-top: 60px;
padding-bottom: 60px;
}

.footer-address {
display:block;
color: #FFFFFF;
font-style: normal;
line-height: 2;
text-decoration: none;
}

.street {
margin-bottom: 9px;
}


.footer-email {
display: block;

margin-bottom: 9px;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
line-height: 2;
text-decoration: none;
}
.footer-phone {
display: block;
color: rgba(255, 255, 255, 0.6);
font-style: normal;
line-height: 2;
text-decoration: none;
}
